@charset "UTF-8";
/****************************************************************/
/* 회원 입력폼 공통 ***************************************************/
/****************************************************************/

/* 회원가입 폼요소그룹(라벨+폼요소) */
/* #user .form-group {
	padding: 10px 5px 10px 5px;
    text-align: left;
} */

/* 폼태그 라벨 */
/* #user .form-group .form-text {
    display: inline-block;  인라인 요소 가로폭을 주려고 
    width: 150px;
    text-align: right;
    margin-right: 20px;
} */

/****************************************************************/
/* 회원가입폼 ***************************************************/
/****************************************************************/

/* 회원가입 맨위 */
#user #content-head h1{
	text-align: center;
}

#user #content-head #intro-text {
	text-align: center;
}

/* 회원가입 */
#user #joinForm {
	text-align: center;
	margin-top: 30px;
}

#user #joinForm .form-group {
	margin: 30px 5px 10px 5px;
}

/* #user #joinForm .form-group .check {
	
} */

#user #joinForm input {
	width: 300px;
	height: 40px;
	font-size: 20px;
}

#user #joinForm .form-group #tel-txt{
	width: 300px;
	line-height: 1.5; /* 원하는 줄간격으로 조절 */
}

/* margin-left: 30%;
margin-top: 10px;
font-size: 11px;
text-align: left; */

#user #joinForm .form-group #chk-agree {
	margin: 0px 10px 10px 35px ;
	font-size: 0px;
	width: 20px;
}

#user #joinForm .form-group label {

}


/****************************************************************/
/* 로그인폼 ***************************************************/
/****************************************************************/





/****************************************************************/
/* 회원정보 수정폼 **********************************************/
/****************************************************************/
